<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.guidoferreyra.showNextFont</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>showNextFont</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.2</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/guidoferreyra/ShowNextFont/master/showNextFont.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/guidoferreyra/ShowNextFont</string>
	<key>productReleaseNotes</key>
	<string>Scale outlines when fonts have different units per em.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Guido Ferreyra, 2017</string>
	<key>NSPrincipalClass</key>
	<string>showNextFont</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
